.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Local Netlify folder
.netlify

# SpecStory folder
.specstory/

# Firebase
app/services/firebaseConfig.ts
.env
.env.local
.env.development
.env.production
firebase-debug.log
firebase-debug.*.log
ui-debug.log
.firebase/
